@page
@model LandLyst.Pages.AboutModel
@{
}
<div class="text-center">
    <h5 class="display-headline">About Us</h5>
    <p>
        Marianne (owner) and Vivi Henriksen take care of the receptionist function, together with the hotel's student assistant Maria Larsen.<br />
        Tove Jensen, Alex Plet and Hanne Sigurdsson take care of the daily cleaning, as well as preparation of rooms under the supervision of Lis Sørensen.<br />
        Hans Peter Sørensen leads the kitchen together with Poul (owner), with the help of the cooking students Ole Frandsen, Michel Byer and Mikael Olsen.<br /><br />
        We look forward to your visit.
    </p>
    <hr />
    <img src="~/images/aboutmini.png" alt="About us Image" style="width:65%"/>
</div>