@page
@model LandLyst.Pages.CheckINModel
@{
}
<div class="text-center">
    <h5 class="display-headline">Check-IN</h5>

    <form method="post">
        <table align="center">
            <tr>
                <td>Reservation Number<font color="#FF0000">*</font>
                <td><input type="text" id="txtReservationNumber" name="ReservationNumber" required /></td>
            </tr>
            <tr>
                <td align="center" colspan="8"><input type="submit" value="Check-IN" asp-page-handler="Submit" /></td>
            </tr>
        </table>
        <hr />
        <br />
        @Model.TextOne
        <br />
        @Model.TextTwo
        <br />
        @Model.TextThree
        <br />
        @Model.TextFour
    </form>
</div>
