@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="slideshow">
    <img class="active" src="~/images/sliderImage1.jpg" alt="Slideshow Image 1" />
    <img src="~/images/sliderImage2.jpg" alt="Slideshow Image 2" />
    <img src="~/images/sliderImage3.jpg" alt="Slideshow Image 3" />
</div>
