@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h5 class="display-headline">Faq</h5>
    <p>
        <strong>Rooms:</strong><br />
        Hotel Landlyst has 11 <a asp-page="/Rooms">room types</a> in 51 rooms with different amounts of interior.<br />
        Price applies to single bed = 1 overnight guest over 5 years.<br />
        Price applies to two single beds = 2 overnight guests over 5 years.<br />
        Price applies to double bed = 3 overnight guests (2 over 5 years and 1 aged 5 or under).<br /><br />
        <strong>Booking:</strong><br />
        <a asp-page="/Booking">Book</a> online in few steps - personal information, day of arrival, number of days and choice of room type.<br /><br />
        <strong>Check-In:</strong><br />
        Hotel Landlyst offers online check-in service - Check-In around the clock - it will not be more flexible for you as a customer.<br /><br />
        <strong>Check-Out:</strong><br />
        Skip the queue with online check-out - Check-out takes place before 10 am in the morning.<br /><br />
        <strong>Payment:</strong><br />
        Payment is automatically deducted after check-out.<br /><br />
        <strong>cancellation:</strong><br />
        All cancellations must always be made in writing - please fill out the <a asp-page="/Contact">contact</a> form.<br /><br />
        <strong>privacy policy:</strong><br />
        Hotel Landlyst only collect the information our guests choose to give use, and we process it on legal basic.<br />
        We only require the minimum amount of personal information that is necessary to fulfill the purpose of your interaction with us.<br />
        We don´t sell it to third part and we delete it after we receive the payment - we always use it as this private policy describes.
    </p>
</div>
